.links {
  display: flex;
  gap: 30px;
}

.links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.links a:hover {
  color: #4f46e5;
}

.docs-home-section{
margin-bottom:0.2em;
}

.docs-home{
  background-color: var(--background-color);
}

.spinner-container{
  display: flex;
  justify-content: center;  /* horizontal center */
  align-items: center;      /* vertical center */
  height: 70vh;            /* full screen height */
}