/* Sidebar container */

.sidebar {
  position: fixed;
  top: 60px;      /* navbar height */
  left: 0;
  /* width: 260px;
  height: calc(100vh - 60px); */

  /* background: #f8f9fb; */
  padding: 20px;

  overflow-y: auto;
}

/* Menu link */

.sidebar a{
  text-decoration:none;
  color:var(--text-color);
  font-size:15px;
  transition:color 0.2s ease;
}

.sidebar a:hover{
  color:var(--tree-node-hover);
}

.sidebar a.active{
  color:var(--tree-node-active);
  font-weight: 400;
  /* padding:4px 8px; */
  border-radius:6px;
}

