<div class="sidebar">

  @for (section of menu; track section.title) {

    <!-- Section Header -->
    <div class="section-header" (click)="toggleMenu(section)">
      <span>
        <svg class="arrow" [class.rotate]="section.open" viewBox="0 0 24 24">
          <path d="M9 6l6 6-6 6"></path>
        </svg>
        {{ section.title }}
      </span>
    </div>

    @if (section.open) {
      <ul>
        @for (item of section.items; track item.label) {
          <li>
            <a [routerLink]="item.route" routerLinkActive="active">
              {{ item.label }}
            </a>
          </li>
        }
      </ul>
    }

  }
  
</div>