/* Sidebar container */

.sidebar {
  position: fixed;
  left: 0;
  padding: 20px;
  overflow-y: auto;
  padding-top: 60px;
  
  height: 100%;
}

/* Menu link */

.sidebar a{
  text-decoration:none;
  color:var(--text-color);
  font-size:0.8em;
  transition:color 0.2s ease;
}

.sidebar a:hover{
  color:var(--tree-node-hover);
}

.sidebar a.active{
  color:var(--tree-node-active);
  font-weight: 400;
  border-radius:6px;
}



