/* Reset */

html, body{
margin:0;
padding:0;
background:#ffffff;   /* pure white */
font-family: "Inter", Arial, sans-serif;
}

/* Layout */

.container{
display:flex;
background:#ffffff;   /* force white */
}

/* Sidebar */

.sidebar{
width:280px;
height:100vh;
background:#ffffff;   /* pure white sidebar */
padding:30px 20px;
position:fixed;
left:0;
top:0;
box-sizing:border-box;
}

/* Logo */

.sidebar h2{
font-size:22px;
margin-bottom:30px;
color:#4f46e5;
}

/* Section Buttons */

.section-header{
background:#ffffff;   /* remove grey */
padding:12px 16px;
border-radius:8px;
margin-top:20px;
font-weight:600;
cursor:pointer;
display:flex;
justify-content:space-between;
}

/* Menu */

.sidebar ul{
list-style:none;
padding-left:18px;
margin-top:10px;
}

.sidebar li{
margin:10px 0;
}

.sidebar a{
text-decoration:none;
color:#444;
font-size:15px;
}

/* Content */

.content{
margin-left:280px;
padding:60px 80px;
background:#ffffff;
min-height:100vh;
}

/* Code block */

pre{
background:#111827;
color:#ffffff;
padding:20px;
border-radius:10px;
}
